<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connaught</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--displays image to screen-->
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png">
  <h2>ConnaughtCounties</h2>
  <hr>

  <!--displays unordered list of galway counties to screen.-->
  <h1>Counties in Connaught</h1>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leithrim</li>

  </ul>
</ion-content>
